@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Lato:wght@300;400;700&family=Mohave:wght@300;400;500&family=Open+Sans+Condensed:wght@300&family=Roboto+Mono:wght@300;400;500;600&family=Roboto:wght@300;400;500&family=Saira+Extra+Condensed:wght@100;300;400;500&family=Ubuntu+Condensed&display=swap');
* {
	margin: 0;
	padding: 0;
}
.iconoSocial1{
    color:#fff;
    background-color: #E10A30;
    margin: 2px;
    border-radius: 3px;
    float: left;
    font-size: 1em;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#idIconosSociales1{
    margin-top: 0.6em;
    margin-bottom:0.5em;
    display: flex;
    justify-content: flex-end;
}
#idMenuNav1{
    display: flex;
    justify-content: flex-end;
}
.linkCabecera{
    color: black !important;
    font-size: 15px !important;    
    border: none !important;
    padding: 5px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    line-height: 24px !important;
    letter-spacing: 1px !important;
    font-family: 'Roboto','Roboto Mono','Oswald';
    margin-right: 15px;
    -webkit-text-size-adjust: 100%;
}
#idFranjaMenuNav{
    font-family: 'Roboto','Roboto Mono','Oswald';
    height: 66px;
    background-color:#333;
    width: 100%;

}
#idPie{
    background-color:#333;
    width: 100%;
    text-align: center;
    color:#fff !important;
    margin-top: 2.5em;
    margin-bottom: 0em;
    position: sticky;
}
.nav-link{
    color: rgb(35, 135, 160);
}
#cabeceraTabla:active{
    background-color: red;
}
/*
.active>span{
    background-color: aqua;
}
/*#idIconosSociales1:nth-child(1n){}*/